*
{
    padding: 0%;
    margin: 0%;
}

body
{
    background-color: rgba(150, 27, 222, 0.9);
    transition: 2s;
}

.header
{
    height: 75px;
    width: 25%;
    margin: 3% auto;
    background-color: rgba(30, 133, 217, 0.3);
    border-radius: 25px;
    box-shadow: 8px 8px 5px grey;
}

#cim
{
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
}

.cim
{
    text-align: center;
    width: 25%;
    margin: 2% auto;
    border-radius: 25px;
    background-color: rgba(30, 133, 217, 0.3);
}

.honapok
{
    width: 75%;
    margin: 0% auto;
}

.honap
{
    margin: 10px;
    padding: 0%;
    display: inline-block;
    width: 48%;
    transition-timing-function: ease-in-out;
    transition: 1s;
}

.honap:hover
{
    -webkit-box-shadow: 0 0 30px #000;
        box-shadow: 0 0 30px #000;
}

.projekt
{
    display: inline-block;
    width: 48%;
    margin: 4px;
    padding: 0%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8);
}

.projekt h1
{
    text-align: center;
    width: 45%;
    margin: 2% auto;
    border-radius: 25px;
    background-color: rgba(224, 15, 61, 0.3);
}

.bortio_kep
{
    width: 250px;
    margin: 0% 11%;
    border: 2px solid;
}

.alcim
{
    text-transform: uppercase;
    text-align: center;
    margin: 3px 3px 0px 3px;
}

.zarojel
{
    text-transform: lowercase;
    color: black;
    text-align: center;
    margin: 0px 5px 5px 5px;
}

.alcim_doboz
{
    background-color:rgba(163, 225, 189, 0.7);
    width: 60%;
    border-radius: 10px;
    margin: 15px auto;
    transition: 2s;
}

hr
{
    width: 80%;
    height: 1px;
    background-color: black;
    margin: 4% auto;
    border: 1px solid #000;
    border-radius: 25px;
}

.szoveg
{
    width: 75%;
    margin: 10% auto;
    padding: 10px;
    border: 1px solid;
}